{{ set(this, 'title', 'Knowledge') }}

<div class="site-index">
	<div class="row">
		{% for item in menu.items %}
			<div class="front-menu-item col-md-3">
				<div class="front-menu-item-img">
					<img src="{{ item.img['thumb_medium'] }}" alt="" />
				</div>
				<div class="front-menu-item-content"><p>1 {{ item.title }}</p></div>
			</div>
		
		{% endfor %}
	</div>
</div>
